body {
	background-color: #FFFFD8;
}

div.jobs {
	border: 2px solid #C0C000;
	background-color: #EEEEC6;
	margin-bottom: 15px;
}

.job {
	background-color: #BBDDCC;
}

div.expenses {
	border: 2px solid #0000C0;
	background-color: #D8D8FF;
	margin-bottom: 15px;
}

.expense {
	background-color: #AABBDD;
}

div.stats {
	border: 2px solid #DD6633;
	background-color: #EEAABB;
}

.stat{
	background-color: #FF9988;
}

button.delete {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
